In [219]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [220]:
data = pd.read_csv("companiesmarketcap.com.csv")

In [221]:
def remove_duplicate(l):
    return list(set(l))

In [222]:
def country_market_cap(country):
    return data.loc[data.country == country].marketcap.sum()

In [223]:
countries  = remove_duplicate(data.country.values)
market_cap = []
for country in countries:
    market_cap.append(int(country_market_cap(country)/1000000000))

total_market_cap = sum(market_cap)
market_cap_percent = []
for x in market_cap:
    market_cap_percent.append(round(100*x/total_market_cap,2))

In [224]:
df = pd.DataFrame({'country': countries, 'marketcap': market_cap,'%': market_cap_percent})
df.sort_values(by='marketcap',ascending=False,inplace=True,ignore_index=True)

In [225]:
def pandas_df_to_markdown_table(df): # taken from https://stackoverflow.com/questions/33181846/programmatically-convert-pandas-dataframe-to-markdown-table
    from IPython.display import Markdown, display
    fmt = ['---' for i in range(len(df.columns))]
    df_fmt = pd.DataFrame([fmt], columns=df.columns)
    df_formatted = pd.concat([df_fmt, df])
    return df_formatted.to_csv(sep="|", index=False)

In [226]:
df

                 country  marketcap      %
0          United States      52299  53.58
1                  China       7297   7.48
2                  Japan       4478   4.59
3                  India       3026   3.10
4                 France       3005   3.08
5                Germany       2518   2.58
6         United Kingdom       2517   2.58
7                 Canada       2494   2.56
8           Saudi Arabia       2270   2.33
9            Switzerland       2257   2.31
10           Netherlands       1535   1.57
11                Taiwan       1440   1.48
12             Australia       1328   1.36
13           South Korea       1259   1.29
14                Sweden        996   1.02
15               Ireland        958   0.98
16             Hong Kong        956   0.98
17                Brazil        698   0.72
18               Denmark        674   0.69
19                 Spain        653   0.67
20                Russia        622   0.64
21                 Italy        582   0.60
22             Singapore        455   0.47
23               Finland        359   0.37
24                Mexico        347   0.36
25             Indonesia        339   0.35
26                Norway        292   0.30
27               Belgium        231   0.24
28                Israel        201   0.21
29               Austria        190   0.19
30               Bermuda        156   0.16
31              Thailand        149   0.15
32           New Zealand        122   0.12
33          South Africa        109   0.11
34                Turkey         94   0.10
35            Luxembourg         91   0.09
36                 Chile         84   0.09
37                Poland         84   0.09
38             Argentina         79   0.08
39              Malaysia         75   0.08
40              Portugal         49   0.05
41        Czech Republic         44   0.05
42              Colombia         42   0.04
43               Hungary         23   0.02
44           Isle of Man         16   0.02
45                Jersey         15   0.02
46                Greece         13   0.01
47                Cyprus         11   0.01
48               Uruguay         11   0.01
49                    BM         10   0.01
50        Cayman Islands          9   0.01
51           Philippines          7   0.01
52                 Egypt          6   0.01
53               Iceland          5   0.01
54                Panama          4   0.00
55            Kazakhstan          4   0.00
56                 Macau          4   0.00
57                Monaco          3   0.00
58               Romania          3   0.00
59                 Malta          2   0.00
60              Guernsey          2   0.00
61               Nigeria          1   0.00
62            Costa Rica          1   0.00
63               Bahamas          1   0.00
64             Lithuania          1   0.00
65                  Peru          0   0.00
66               Estonia          0   0.00
67  United Arab Emirates          0   0.00

In [227]:
pandas_df_to_markdown_table(df)

'country|marketcap|%\n---|---|---\nUnited States|52299|53.58\nChina|7297|7.48\nJapan|4478|4.59\nIndia|3026|3.1\nFrance|3005|3.08\nGermany|2518|2.58\nUnited Kingdom|2517|2.58\nCanada|2494|2.56\nSaudi Arabia|2270|2.33\nSwitzerland|2257|2.31\nNetherlands|1535|1.57\nTaiwan|1440|1.48\nAustralia|1328|1.36\nSouth Korea|1259|1.29\nSweden|996|1.02\nIreland|958|0.98\nHong Kong|956|0.98\nBrazil|698|0.72\nDenmark|674|0.69\nSpain|653|0.67\nRussia|622|0.64\nItaly|582|0.6\nSingapore|455|0.47\nFinland|359|0.37\nMexico|347|0.36\nIndonesia|339|0.35\nNorway|292|0.3\nBelgium|231|0.24\nIsrael|201|0.21\nAustria|190|0.19\nBermuda|156|0.16\nThailand|149|0.15\nNew Zealand|122|0.12\nSouth Africa|109|0.11\nTurkey|94|0.1\nLuxembourg|91|0.09\nChile|84|0.09\nPoland|84|0.09\nArgentina|79|0.08\nMalaysia|75|0.08\nPortugal|49|0.05\nCzech Republic|44|0.05\nColombia|42|0.04\nHungary|23|0.02\nIsle of Man|16|0.02\nJersey|15|0.02\nGreece|13|0.01\nCyprus|11|0.01\nUruguay|11|0.01\nBM|10|0.01\nCayman Islands|9|0.01\nPhilippines|7|0.01\nEgypt|6|0.01\nIceland|5|0.01\nPanama|4|0.0\nKazakhstan|4|0.0\nMacau|4|0.0\nMonaco|3|0.0\nRomania|3|0.0\nMalta|2|0.0\nGuernsey|2|0.0\nNigeria|1|0.0\nCosta Rica|1|0.0\nBahamas|1|0.0\nLithuania|1|0.0\nPeru|0|0.0\nEstonia|0|0.0\nUnited Arab Emirates|0|0.0\n'